PORT=3000
ALLOWED_ORIGIN=http://localhost:3000

API_KEY_POSTMAN=REEMPLAZAR_CON_API_KEY_SEGURA
API_KEY_ADMIN=REEMPLAZAR_CON_API_KEY_SEGURA
API_KEY_MOVIL=REEMPLAZAR_CON_API_KEY_SEGURA

JWT_SECRET=REEMPLAZAR_CON_SECRETO_JWT_SEGURO
JWT_EXPIRES_IN=1h